<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <title>Home</title>
</head>
<body>
  <div class = header>
  <h1>Resource-Wall</h1>
  </div>
  <div id ="search">
    <form>
      <input type="text" name="query" placeholder="Search">
      <button type="submit">Submit</button>
     </form>
     <button class="btn" onclick="window.location.href='/review'">Add A Review</button>
  </div>
  <div class="container">
    <button class="btn" onclick="window.location.href='/login'">Login</button>
    <button class="btn" onclick="window.location.href='/register'">Register</button>
 </div>
 <ul>
  <% resources.forEach((resource) => { %>
      <li><%= resource.title %> - <%= parseFloat(resource.rating).toFixed(2) %> - <%= resource.likes %> </li>
  <% }); %>
</ul>
</body>
</html>
