<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Registration Page</title>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
    <link rel="stylesheet" href="/vendor/border-box.css" />
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/layout.css" />
    <link rel="stylesheet" href="/styles/header.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script defer src="/scripts/header.js"></script>

    <script src="/vendor/jquery-3.0.0.js"></script>
    <script defer src="/scripts/app.js"></script>
    <script>
      function validateForm() {
        // check if all inputs are filled
        const username = $("#exampleInputUsername1").val();
        const email = $("#exampleInputEmail1").val();
        const password = $("#exampleInputPassword1").val();
        const errorSection = $("#error-section");
        if (username === "" || email === "" || password === "") {
          errorSection.html("Please make sure all fields are filled!");
          return false;
        } else {
          errorSection.html("");
          return true;
        }
      }
    </script>
  </head>

  <body>
    <h1>Registration</h1>
    <h3>Please Sign Up!!</h3>
    <form
      class="mb-3"
      method="post"
      action="/register"
      onsubmit="return validateForm()"
    >
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Username</label>
        <input
          type="username"
          name="username"
          class="form-control"
          id="exampleInputUsername1"
        />
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input
          type="email"
          name="email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
        />
        <div id="emailHelp" class="form-text"></div>
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input
          type="password"
          name="password"
          class="form-control"
          id="exampleInputPassword1"
        />
      </div>

      <button id="submit" class="btn btn-primary">Submit</button>

      <p id="error-section"><%= error %></p>
    </form>
  </body>
</html>
