body {
  display: flex;
  // flex-direction: column;
  justify-content: unset;
    // align-items: center;
  min-height: 100vh;
  flex-wrap: wrap;

  background: rgb(163, 208, 219);
  background: linear-gradient(
    227deg,
    rgba(163, 208, 219, 1) 0%,
    rgba(163, 176, 219, 1) 20%,
    rgba(163, 173, 219, 1) 34%,
    rgba(163, 219, 208, 1) 59%,
    rgba(163, 208, 219, 1) 74%,
    rgba(163, 208, 219, 1) 100%
  );
  article {
    margin-top: 150px;
    .userComment {
      border-style: double;
    }
    .commentText {
      padding: 11px 0px 11px 0px;
      width: 100%;
      height: 4em;
      padding: 0;
      text-align: start;
    }
    
  }
}
